* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header h1 {
    padding: 100px;
    text-align: center;
    font-size: 65px;
    margin-bottom: 10px;
    color: white;
}

header p {
    font-size: larger;
    color: white;
}

header .dataTekst {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header {
    background-color: black;
}

header .bilde {
    width: 300px;
    margin-right: 20px;
}

main {
    background-color: black;
}



main .boksunderbilde {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-bottom: 200px;
}

main .tekstboks {
    border: 5px solid black;
    background-color: lightgray;
    color: white;
    margin: 5px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

@media (max-width: 1550px) and (min-width: 800px) {
    main .boksunderbilde {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media (max-width: 799px) {
    main .boksunderbilde {
        display: grid;
        grid-template-columns: 1fr;
    }
}

main .divtekst4 {
    text-align: center;
    color: black;
    font-size: 25px;

}

main .divtekst5 {
    color: black;
    font-size: 25px;
    text-align: center;
}

main .tekstboks img {
    width: 200px;
    height: 100px;
}

main .tekstboks ul li {
    display: none;
    list-style: none;
}

main .tekstboks:hover ul li {
    display: list-item;
    color: black;
}

main .tekstboks:hover {
    cursor: pointer;
}

aside {
    background-color: antiquewhite;
}


aside h2 {
    text-align: center;
    font-size: 40px;
}




.bildeMedTekst {
    text-align: center;
    margin: 100px 0;
}

.bildeVenstre {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.bildeVenstre img,
.bildeHoyre img {
    width: 500px;
}

.tekstHoyre {
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.tekstHoyre ul,
.tekstVenstre ul {
    list-style-type: none;
    padding-left: 0;
}

.tekstVenstre {
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.bildeHoyre {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;

}


/* Her er css om section*/
:root {
    --primary: #222;
    --KARPEprimary: #ff6f61;
}

#footerid {
    background-color: var(--primary);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.footer-liste {
    width: 25%;
}

.footer-liste h3 {
    font-size: 1.2rem;
    color: grey;
    position: relative;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-liste h3::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--KARPEprimary);

}

.footer-liste ul li {
    color: grey;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    margin-top: 10px;

}

.footer-linker ul li:hover {
    color: var(--KARPEprimary);
    transform: scale(1.05) translateY(2px);
    transition: .4s;

}

.footer-linker ul li a {
    color: white;
    text-decoration: none;

}

.footer-linker ul li a:hover {
    color: var(--KARPEprimary);

}

/*section avsluttes*/


nav {
    background-color: #222;
    padding: 0px;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;

}

a:hover {
    text-decoration: underline;
    color: green;
}


.header-main ul li a:hover {
    background-color: #fff;
    color: black;
}




.header-main ul li ul li a {
    white-space: nowrap;
}

ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}