/*Her starter header*/
header h1 {
    padding: 100px;
    text-align: center;
    font-size: 65px;
    margin-bottom: 10px;
    color: white;
}

header p {
    font-size: larger;
    color: white;
}

header .dataTekst {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header {
    background-color: black;
}

header .bilde {
    width: 300px;
    margin-right: 20px;
}

/*Header avsluttes*/

/*Her starter main*/
main {
    background-color: black;
}

/*Styling om hovedkort*/
main .hovedkort-boks {
    padding: 20px;
    background-color: rgb(28, 28, 28);

}

main .hovedkort-boks-tekst {
    color: white;
    border: 3px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
}

main .hovedkort-boks-tekst img {
    width: 700px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

main .hovedkort h2 {
    text-align: center;
    padding: 10 px;
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .hovedkort p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

/*Her er stylingen for komponente*/

main .boksunderbilde {
    display: flex;
    justify-content: center;
    padding: 100px;
}

main .tekstboks {
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    margin: 5px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

@media (max-width: 1550px) and (min-width: 800px) {
    main .boksunderbilde {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media (max-width: 799px) {
    main .boksunderbilde {
        display: grid;
        grid-template-columns: 1fr;
    }
}

main .divtekst4 {
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tekstboks:hover .divbilde {
    opacity: 0.1;

    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

main .divtekst-beskrivelse {
    position: absolute;
    padding: 0px 30px;
    opacity: 0;
}

.tekstboks:hover .divtekst-beskrivelse {
    opacity: 1;

    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;

}

main .divtekst5 {
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main .tekstboks img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}


main .tekstboks ul li {
    /*
    display: none;
    list-style: none;
    */
}

main .tekstboks:hover ul li {
    /*
    display: list-item;
    color: black;
    */
}


/*Styling for stasjonær pc-boks*/
aside .datamaskin-boks {
    padding: 20px;
    background-color: rgb(52, 58, 64);
}

aside .datamaskin-boks-tekst {
    color: white;
    border: 3px solid lightgray;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}

aside .datamaskin-boks-bilde img {
    width: 700px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

/*Styling for stasjonær pc-boks avsluttes*/