body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    margin: 10px 0;
}

h3{
    text-align: left;
}

li {
    margin-left: 16px;
    text-align: left;
}


header {
    background: #333;
    text-align: center;
    padding: 20px;
    margin-top: 35px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #444;
    background-color: #111;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.box {
    background: #222;
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
