* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
}

section.grid {
    grid-template-columns: 1fr 1fr;
}

section.grid2 {
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
}

h2{
    text-align: center;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 30px;
    font-size: 15px;
}

body {
    background-color: #edede9;
}

main {
    background-color: rgb(255, 255, 255);
}

aside {

    background-color: rgb(0, 0, 0);
}

header {
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 20px;
    margin-top: 27px;
    background-color: rgb(0, 0, 0);
    border: solid black 2px;
}

.grid>div {
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;

}

a:hover {
    text-decoration: underline;
    color: rgb(0, 76, 255);
}

#boks1 {
    background-image: url("bilder/kommunikasjon8.jpeg");
}

.b2 {
    background-image: url("bilder/kommunikasjon2.gif");
}

.b3 {
    background-image: url("bilder/kommunikasjon3.jpg");
}

.b4 {
    background-image: url("bilder/kommunikasjon4.png");
}

.b5 {
    border: solid black 3px;
}

.b6 {
    background-image: url("bilder/kommunikasjon6.gif");
}

.b7 {
    background-image: url("bilder/kommunikasjon7.jpg");
}

.b8 {
    background-image: url("bilder/kommunikasjon1.jpg");
}

.b9 {
    background-image: url("bilder/kommunikasjon9.jpg");
}

:root {
    --primary: #000000;
    --KARPEprimary: #ff6f61;
}

#footerid {
    background-color: var(--primary);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.footer-liste {
    width: 25%;
}

.footer-liste h3 {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
}

.footer-liste h3::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--KARPEprimary);
}

.footer-liste ul li {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    margin-top: 10px;
}

.footer-linker ul li:hover {
    color: var(--KARPEprimary);
    transform: scale(1.05) translateY(2px);
    transition: .4s;
}

.footer-linker ul li a {
    color: white;
    text-decoration: none;
}

.footer-linker ul li a:hover {
    color: var(--KARPEprimary);
}