*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    padding: 20px;
    align-items: center;
}

section.grid {
    grid-template-columns: 2fr 1fr;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}
body{
    
}
main {
    border: black solid 3px;
}


