* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border: black solid 3px;
    height: 300px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    align-items: center;
    margin: 20px;
}

.grid2 {
    display: grid;
    align-items: center;
    margin: 20px;

}

.tekst2 {}

section.grid {
    grid-template-columns: 1fr 1fr;
}

section.grid2 {
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}
body {
    background-color: rgb(255, 255, 255);
}

main {
    border: black solid 3px;
    background-color: rgb(255, 255, 255);
}
aside {
    border: black solid 3px;
    background-color: white;
}

header{
    padding-top: 20px;
}

nav{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    }

    nav ul {
      padding: 0;
      }

    nav ul li {
        display: inline;
        margin-right: 10px;
      }

    nav ul li a {
        color: black;
        font-weight: bold;
      }

    nav ul li a:hover {
        text-decoration: underline;

      }
    a:hover{
        text-decoration: underline;
        color: rgb(0, 76, 255);
      }
