* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
}

section.grid {
    grid-template-columns: 1fr 1fr;
}

section.grid2 {
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

h2{
    text-align: center;
    border: solid black 3px;
    border-radius: 30px;
    font-size: 15px;
}

body {
    background-color: rgb(143, 138, 132);
}

main {
    background-color: rgb(255, 255, 255);
}

aside {

    background-color: white;
}

header {
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 20px;
    margin-top: ;
    background-color: rgb(143, 138, 132);
    border: solid black 2px;
}

.grid>div {
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;

}

a:hover {
    text-decoration: underline;
    color: rgb(0, 76, 255);
}

.storbakgrunn {
    width: 100%;
  	height: 100vh;
  	background-size: cover;
  	position: relative;
    background-image: url("bilder/knag.png");
}

#boks1 {
    background-image: url("bilder/kommunikasjon8.jpeg");
}

.b2 {
    background-image: url("bilder/kommunikasjon2.gif");
}

.b3 {
    background-image: url("bilder/kommunikasjon3.jpg");
}

.b4 {
    background-image: url("bilder/kommunikasjon4.png");
}

.b5 {
    border: solid black 3px;
}

.b6 {
    background-image: url("bilder/kommunikasjon6.gif");
}

.b7 {
    background-image: url("bilder/kommunikasjon7.jpg");
}

.b8 {
    background-image: url("bilder/kommunikasjon1.jpg");
}

.b9 {
    background-image: url("bilder/kommunikasjon9.jpg");
}